.mp-48 {
    padding-top: 48px;
}

.mb-10 {
    margin-top: 20px
}

.fs-24 {
    font-size: 24px;
}

.reset-p-mt {
    padding: 0;
    margin-top: 0;
}

.p-0 {
    padding: 0;
}

.px-7 {
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.py-22 {
    padding-top: 22px !important;
    padding-bottom: 22px !important;
}

/* background */
.bg-gray {
    background-color: #F6F6F6;
}

.color-white {
    color: white;
}

.maxwidth-260 {
    max-width: 260px;
}


/* new code */
/* hide/display responsive */
.hide-for-pc {
    display: none;
}

@media (max-width: 490px) {
    .hide-for-pc {
        display: block;
    }

    .hide-for-mobile {
        display: none;
    }
}

/* color */
.c-white {
    color: white;
}

.bg-white {
    background-color: white !important;
}



/* fading */
.fading {
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 1) 1%,
            rgba(0, 0, 0, 0) 60%);
}