.footer {
    background-color: var(--primary-color);
    padding: 66px 25px 30px 25px;
}

.footer__top {
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 43px;
}

.footer__content {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
}

.footer__content-right {
    display: flex;
    gap: 188px;
}

.footer__description {
    display: -webkit-box;
    max-width: 375px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    font-size: 16px;
    opacity: 0.6;
    font-weight: 400;
    line-height: 145%;
    /* 23.2px */
    letter-spacing: -0.16px;
    margin-top: 12px;
    margin-bottom: 28px;
}

.footer__item-nav {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    /* 22.4px */
    letter-spacing: -0.16px;
    padding-bottom: 10px;
}

.footer__item-nav--active {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 140%;
    opacity: 0.6;
    /* 19.6px */
}

.footer__social {
    display: flex;
    gap: 15px;
}

.footer__center {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__content-left {}

.footer__form {
    position: relative;
}

.footer__input {
    width: 100%;
    padding: 42px 38px 43px 46px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.10);
    color: #fff;
    border: none;
    font-size: 50px;
    line-height: 52px;
    font-weight: 600;
    letter-spacing: -2.5px;
    outline: none;
}

.footer__input::placeholder {
    color: white;
    opacity: 0.6;
}

.footer__bottom {}

.footer__list-link {
    display: flex;
}

@media (max-width: 480px) {
    .footer__top {
        padding: 42px 23px 16px
    }

    .footer__content {
        flex-direction: column;
        gap: 55px;
    }

    .footer__content-right {
        gap: unset;
        justify-content: space-between;
    }

    .footer__input {
        padding: 21px 70px 23px 23px;
        font-size: 30px;
    }

    .footer__description {}
}