.wrap {
    padding: 48px 0 64px 0;
}

.wrap--search-blog {
    background-color: #f7f7f8;
}

.wrap--sort {
    padding-bottom: 0;
}

.wrap--blog {
    padding-top: 0;
}

.wrap--category {
    background-color: #F6F6F6;
    padding-top: 88px;
    padding-bottom: 88px;
}

.wrap--collection {
    padding-top: 133px;
}


@media (max-width: 490px) {
    .wrap--sort {
        padding-top: 0;
    }

    .wrap-product-all {
        padding-top: 0;
    }
}