.logo-main {
    min-width: 141px;
    min-height: 25px;
    flex-shrink: 0;
}

.icon-social {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.icon-right {
    width: 24px;
    height: 24px;
    /* transform: rotate(-90deg); */
    flex-shrink: 0;
}

.sm-quantity::after {
    content: "(50)";
    font-weight: normal;
    color: #FFF;
    font-size: 14px;
    opacity: 0.6;
    /* 19.6px */
    position: absolute;
    top: -40%;
}

/* Mobile */
@media (max-width: 490px) {
    .logo-main {
        max-width: 101px;
        max-height: 18px;
        min-width: unset;
        min-height: unset;
    }

}